{% extends 'layouts/admin/base.html.twig' %}

{% block body %}
    <div class="card mt-5">
        <div class="card-header">
            <h1>{{ 'myjobdating.ui.skill'|trans }}</h1>
        </div>

        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        {{ 'myjobdating.ui.search_a_skill'|trans }}
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="name" class="form-control" placeholder="{{ 'myjobdating.ui.skill_name'|trans }}" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" value="{{ 'myjobdating.ui.search'|trans }}"/>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>{{ 'myjobdating.ui.name'|trans }}</th>
                    <th>{{ 'myjobdating.ui.actions'|trans }}</th>
                </tr>

                {% if foundSkills is defined %}
                    {% set mySkills = foundSkills %}
                {% else %}
                    {% set mySkills = skills %}
                {% endif %}

                {% for skill in mySkills %}
                    <tr>
                        <td>
                            {{ skill.id }}
                        </td>

                        <td>
                            <input form="form_{{ skill.id }}" class="form-control" type="text" name="name" placeholder="{{ 'myjobdating.ui.skill_name'|trans }}" value="{{ skill.name }}"/>
                        </td>

                        <td>
                            <form id="form_{{ skill.id }}">
                                <input type="hidden" name="id" value="{{ skill.id }}"/>
                                <button type="submit" name="_method" value="put" class="btn btn-primary">{{ 'myjobdating.ui.rename'|trans }}</button>
                            </form>

                            <form>
                                <input type="hidden" name="id" value="{{ skill.id }}"/>
                                <button type="submit" name="_method" value="delete" class="btn btn-danger">{{ 'myjobdating.ui.delete'|trans }}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td></td>

                    <td>
                        <input form="add_skill" class="form-control" name="name" type="text" placeholder="Nom de la compétence"/>
                    </td>

                    <td>
                        <form id="add_skill">
                            <button type="submit" name="_method" value="post" class="btn btn-primary">{{ 'myjobdating.ui.add'|trans }}</button>
                        </form>
                    </td>
                </tr>
            </table>

            {% if successMessage is defined %}
                <p class="text-success">
                    {{ successMessage }}
                </p>
            {% endif %}

            {% if errorMessage is defined %}
                <p class="text-danger">
                    {{ errorMessage }}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
